HealthcareSystemApplication/xml-resources/web-service-references/AccessMedRec/wsdl/localhost_8080/MedicalRec/AccessMedRec.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://healthcaresystem.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://healthcaresystem.me.org/" name="MedicalRec">
<types>
<xsd:schema>
<xsd:import namespace="http://healthcaresystem.me.org/" schemaLocation="http://localhost:8080/MedicalRec/AccessMedRec?xsd=1"/>
</xsd:schema>
</types>
<message name="submit">
<part name="parameters" element="tns:submit"/>
</message>
<message name="submitResponse">
<part name="parameters" element="tns:submitResponse"/>
</message>
<message name="privilige1">
<part name="parameters" element="tns:privilige1"/>
</message>
<message name="privilige1Response">
<part name="parameters" element="tns:privilige1Response"/>
</message>
<message name="validateData">
<part name="parameters" element="tns:validateData"/>
</message>
<message name="validateDataResponse">
<part name="parameters" element="tns:validateDataResponse"/>
</message>
<message name="quotate">
<part name="parameters" element="tns:quotate"/>
</message>
<message name="quotateResponse">
<part name="parameters" element="tns:quotateResponse"/>
</message>
<message name="getMedicalRecord">
<part name="parameters" element="tns:getMedicalRecord"/>
</message>
<message name="getMedicalRecordResponse">
<part name="parameters" element="tns:getMedicalRecordResponse"/>
</message>
<portType name="AccessMedRec">
<operation name="submit">
<input wsam:Action="http://healthcaresystem.me.org/AccessMedRec/submitRequest" message="tns:submit"/>
<output wsam:Action="http://healthcaresystem.me.org/AccessMedRec/submitResponse" message="tns:submitResponse"/>
</operation>
<operation name="privilige1">
<input wsam:Action="http://healthcaresystem.me.org/AccessMedRec/privilige1Request" message="tns:privilige1"/>
<output wsam:Action="http://healthcaresystem.me.org/AccessMedRec/privilige1Response" message="tns:privilige1Response"/>
</operation>
<operation name="validateData">
<input wsam:Action="http://healthcaresystem.me.org/AccessMedRec/validateDataRequest" message="tns:validateData"/>
<output wsam:Action="http://healthcaresystem.me.org/AccessMedRec/validateDataResponse" message="tns:validateDataResponse"/>
</operation>
<operation name="quotate">
<input wsam:Action="http://healthcaresystem.me.org/AccessMedRec/quotateRequest" message="tns:quotate"/>
<output wsam:Action="http://healthcaresystem.me.org/AccessMedRec/quotateResponse" message="tns:quotateResponse"/>
</operation>
<operation name="getMedicalRecord">
<input wsam:Action="http://healthcaresystem.me.org/AccessMedRec/getMedicalRecordRequest" message="tns:getMedicalRecord"/>
<output wsam:Action="http://healthcaresystem.me.org/AccessMedRec/getMedicalRecordResponse" message="tns:getMedicalRecordResponse"/>
</operation>
</portType>
<binding name="AccessMedRecPortBinding" type="tns:AccessMedRec">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="submit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="privilige1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="quotate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MedicalRec">
<port name="AccessMedRecPort" binding="tns:AccessMedRecPortBinding">
<soap:address location="http://localhost:8080/MedicalRec/AccessMedRec"/>
</port>
</service>
</definitions>